@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
* {
  margin: 0;
  padding: 0;
}

footer #navegacionInferior {
  background-color: #5C6F68;
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-template-areas: "logo1 logo2 contacto";
  align-items: center;
}
footer .redes {
  width: 50px;
  height: 50px;
}
footer #facebook {
  width: 100%;
  grid-area: logo1;
  padding: 6px;
}
footer #instagram {
  width: 100%;
  grid-area: logo2;
  padding: 6px;
}
footer #contactanos {
  grid-area: contacto;
  font-family: Pacifico;
  padding: 6px;
  color: #95D9C3;
  text-decoration: none;
  transition: 2s;
}
footer #contactanos:hover {
  color: #8AA39B;
}
@media (min-width: 768px) {
  footer #navegacionInferior {
    background-color: #5C6F68;
    grid-template-columns: 1fr 8fr 2fr;
    grid-template-areas: "facebook instagram contacto";
    justify-content: start;
    align-items: center;
  }
  footer #facebook {
    grid-area: facebook;
  }
  footer #instagram {
    grid-area: instagram;
  }
  footer #linkContacto {
    grid-area: contacto;
  }
  footer #contactanos {
    display: grid;
    justify-content: right;
    padding-right: 20px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  footer #navegacionInferior {
    background-color: #5C6F68;
    display: grid;
    grid-template-columns: 1fr 13fr 1fr;
    grid-template-areas: "facebook instagram contacto";
    justify-content: start;
    align-items: center;
  }
  footer #facebook {
    grid-area: facebook;
  }
  footer #instagram {
    grid-area: instagram;
  }
  footer #linkContacto {
    grid-area: contacto;
  }
  footer #contactanos {
    display: flex;
    justify-content: right;
    padding-right: 20px;
  }
}

header h1 {
  font-family: Italianno;
  color: #95D9C3;
  grid-area: titulo;
  font-size: 50px;
}
header body {
  background-color: #95D9C3;
}
header #navegacionSuperior {
  background-color: #5C6F68;
  display: grid;
  grid-template-areas: "titulo secciones";
  align-items: center;
  justify-items: center;
}
header ul li {
  grid-area: secciones;
  transition: 1.5s;
}
header ul li:hover {
  transform: scale(1.5);
  color: #A7FFF6;
}
header a {
  text-decoration: none;
  color: #A7FFF6;
  transition: 1s;
}
header a:hover {
  color: #95D9C3;
}

@media (min-width: 768px) {
  h1 {
    font-family: Italianno;
    color: #95D9C3;
    grid-area: titulo;
    font-size: 80px;
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
  .secciones {
    display: inline-block;
    justify-content: center;
    padding: 35px;
    font-size: large;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  h1 {
    font-family: Italianno;
    color: #95D9C3;
    grid-area: titulo;
    font-size: 80px;
    width: 100%;
    text-align: left;
    padding-left: 50px;
  }
  .secciones {
    display: inline-block;
    justify-content: center;
    padding: 35px;
    font-size: large;
  }
}
#contenidoIndex {
  background-image: url(../assets/images/background1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-areas: "pregunta" "introduccion" "sectionIn" "imagen1" "imagen2";
  gap: 10px;
  width: 100%;
  font-family: Italianno;
}
@media (min-width: 320px) {
  #contenidoIndex #encabezadoIndex {
    font-size: 55px;
  }
}
@media (min-width: 768px) {
  #contenidoIndex #encabezadoIndex {
    font-size: 75px;
  }
}

#articuloIndex {
  grid-area: pregunta;
  background-color: #8AA39B;
  text-align: center;
  color: #A7FFF6;
}

#descripcion {
  grid-area: introduccion;
  background-color: #8AA39B;
  font-family: RobotoMono;
  font-size: 20px;
}

/* Imagenes de Ejemplo */
#sectionIndex p {
  grid-area: sectionIn;
}

#imagen1 {
  grid-area: imagen1;
}

#imagen2 {
  grid-area: imagen2;
  padding-top: 20px;
}

#segundoTexto {
  background-color: #A4F9C8;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
}

#imgEjemplo {
  grid-area: imgEjem;
  background-color: #A4F9C8;
  padding-bottom: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  #encabezadoIndex {
    font-size: 100px;
    padding: 40px;
  }
  #segundoTexto {
    font-size: 25px;
    font-family: Roboto;
  }
  #imgEjemplo {
    text-align: center;
    padding-top: 20px;
  }
  #imagen2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  #contenidoIndex {
    display: grid;
    grid-template-areas: "pregunta" "introduccion" "sectionIn" "imagen1" "imagen2";
    width: 100%;
  }
  #articuloIndex {
    width: 100%;
  }
  #contenidoIndex h2 {
    width: 100%;
  }
  #imgEjemplo {
    text-align: center;
    padding-top: 20px;
  }
  #imagen2 {
    padding-bottom: 20px;
  }
}
.body__contacto {
  background-color: #95D9C3;
}

#contenido {
  display: grid;
  justify-content: center;
}

.main__contacto h2 {
  display: grid;
  justify-content: center;
  font-family: Italianno;
  font-size: 55px;
}

#botonEnviar {
  background-color: #5C6F68;
  color: #A7FFF6;
}

@media (min-width: 768px) {
  #encabezadoContacto {
    font-size: 90px;
  }
}
@media (min-width: 1024px) {
  main h2 {
    font-size: 35px;
    padding: 40px;
  }
}
.contenedor-acordeon {
  width: 100%;
  max-width: 800px;
  margin: auto;
  margin-top: 80px;
}
.contenedor-acordeon h2 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 30px;
  font-family: Italianno;
  color: black;
}

.acordeon {
  background: #95D9C3;
}
.acordeon .contenido-acordeon {
  padding: 0;
  margin: 0px 20px;
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}
.acordeon label {
  display: block;
  padding: 20px;
  font-size: 20px;
  background: #5C6F68;
  color: #fff;
  cursor: pointer;
  margin-bottom: 2px;
  transition: all 300ms ease;
}
.acordeon label:hover {
  background: #2e2e2e;
}

.btn-acordeon:checked ~ .contenido-acordeon {
  max-height: 600px;
  padding: 15px 0px;
}

.btn-acordeon {
  display: none;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .contenedor-acordeon h2 {
    font-size: 60px;
  }
}
@media screen and (max-width: 900px) {
  .contenedor-acordeon {
    width: 100%;
  }
}
.body__faq {
  background-color: #8AA39B;
}

.body__lugares {
  background-image: url(../assets/images/background2.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__lugares {
  display: grid;
  grid-template-areas: "jujuy cordoba neuquen" "santafe tierraf rionegro";
  justify-content: space-around;
  padding-top: 100px;
}

#jujuy {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: jujuy;
  margin-top: 70px;
}

#cordoba {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: cordoba;
  margin-top: 70px;
}

#neuquen {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: neuquen;
  margin-top: 70px;
}

#santaFe {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: santafe;
  margin-top: 70px;
}

#tierradelFuego {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: tierraf;
  margin-top: 70px;
}

#rioNegro {
  border: solid 3px #A7FFF6;
  background-color: #95D9C3;
  grid-area: rionegro;
  margin-top: 70px;
}

.nombre__lugar {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  color: black;
  font-size: 1.6rem;
}

.imagen__lugar {
  border: solid 4px black;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.lugares__button {
  padding: 10px;
  background-color: #5C6F68;
  color: #A7FFF6;
  font-family: Roboto;
  border: solid 2px #5C6F68;
}

@media (max-width: 768px) {
  .main__lugares {
    display: grid;
    grid-template-areas: "jujuy cordoba" "neuquen santafe" "tierraf rionegro";
    justify-content: space-evenly;
    padding-top: 100px;
  }
}
@media (max-width: 768px) and (max-width: 614px) {
  .main__lugares {
    display: grid;
    grid-template-areas: "jujuy" "cordoba" "neuquen" "santafe" "tierraf" "rionegro";
    justify-content: space-around;
    padding-top: 100px;
  }
}
.body__reseñas {
  background-image: url(../assets/images/background3.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main__reseñas {
  display: grid;
  grid-template-areas: "reseña1 reseña2 reseña3" "reseña reseña reseña" "boton boton boton";
  align-items: center;
}

#reseña1 {
  grid-area: reseña1;
}

#reseña2 {
  grid-area: reseña2;
}

#reseña3 {
  grid-area: reseña3;
}

.reseña {
  display: flex;
  background-color: #8AA39B;
  margin-top: 30px;
  padding: 10px;
  border: solid 4px black;
  font-family: Roboto;
  font-size: 25px;
}

.reseñaContainer {
  background-color: #95D9C3;
  grid-area: reseña;
  display: flex;
  justify-content: center;
  border: solid 1px white;
  padding: 15px;
}

#reseña {
  border: solid 1px white;
  border-radius: 5px;
}

#botonReseña {
  background-color: #95D9C3;
  grid-area: boton;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#botonPublicar {
  padding: 5px;
  background-color: #A7FFF6;
  color: black;
  font-family: Roboto;
  border: solid 1px #A7FFF6;
  border-radius: 10px;
}

@media (max-width: 425px) {
  .main__reseñas {
    display: grid;
    grid-template-areas: "reseña1" "reseña2" "reseña3" "reseña" "boton";
    justify-content: center;
  }
  .main__reseñas .reseña {
    font-size: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
