// Background y distribucion del Contenido
#contenidoIndex {
    background-image: url(../assets/images/background1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-areas:
    "pregunta"
    "introduccion"
    "sectionIn"
    "imagen1"
    "imagen2";
    gap: 10px;
    width: 100%;
    font-family: Italianno;
    // MediaQ Mobile
    @media (min-width: 320px) {
        #encabezadoIndex {
            font-size: 55px;
        }
    }
    // MediaQ Table
    @media (min-width: 768px) {
        #encabezadoIndex {
            font-size: 75px;
        }
    }
}
// Pregunta Introductoria y respuesta
#articuloIndex {
    grid-area: pregunta;
    background-color: $color-2;
    text-align: center;
    color: $color-5;
}
#descripcion {
    grid-area: introduccion;
    background-color: $color-2;
    font-family: RobotoFlex;
    font-size: 20px;
}
  /* Imagenes de Ejemplo */
#sectionIndex p {
    grid-area: sectionIn;
}
#imagen1 {
    grid-area: imagen1;
}
#imagen2 {
    grid-area: imagen2;
    padding-top: 20px;
}
#segundoTexto {
    background-color: $color-4;
    text-align: center;
    font-family: RobotoFlex;
    font-size: 18px;
}
#imgEjemplo {
    grid-area: imgEjem;
    background-color: $color-4;
    padding-bottom: 20px;
    text-align: center;
}

.imagenesIndex {
    width: 400px;
}
// MediaQ Tablet
@media (min-width: 768px) {
    #encabezadoIndex {
        font-size: 100px;
        padding: 40px;
    }
    
    #segundoTexto {
        font-size: 25px;
    }
    
    #imgEjemplo {
        text-align: center;
        padding-top: 20px;
    }
    
    #imagen2 {
        padding-bottom: 20px;
    }
}
// Tablet y Mobile
@media (max-width: 768px) {
    .imagenesIndex {
        width: 300px;
    }
}
// MediaQ Desktop
@media (min-width: 1024px) {
    #contenidoIndex {
        display: grid;
        grid-template-areas:
        "pregunta"
        "introduccion"
        "sectionIn"
        "imagen1"
        "imagen2";
        width: 100%;
    }
    #articuloIndex {
        width: 100%;
    }
    #contenidoIndex h2 {
        width: 100%;
    }
    #imgEjemplo {
        text-align: center;
        padding-top: 20px;
    }
    #imagen2 {
        padding-bottom: 20px;
    }
}