.body__lugares {
    background-image: url(../assets/images/background2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main__lugares {
    display: grid;
}