@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

* {
   margin: 0;
   padding: 0;
}

h1 {
   font-family: Italianno;
   color: #95D9C3;
   grid-area: titulo;
   font-size: 40px;
}

body {
   background-color: #95D9C3;
}

#navegacionSuperior {
   background-color: #5C6F68;
   display: grid;
   grid-template-areas: 
   "titulo secciones"
   ;
   align-items: center;
   justify-items: center;
}

ul li {
   grid-area: secciones;
}

a {
   text-decoration: none;
   color: #A7FFF6;
}

#contenido {
   display:grid;
   justify-content: center;
}

main h2 {
   display: grid;
   justify-content: center;
   font-family: Italianno;
   font-size: 55px; 
}

#botonEnviar {
   background-color: #5C6F68;
   color: #A7FFF6;
}

.redesSociales {
   display: grid;
   padding: 5px;
}

#navegacionInferior {
   background-color: #5C6F68;
   display: grid;
   grid-template-columns: 2fr 2fr 2fr;
   grid-template-areas: 
   "logo1 logo2 contacto"
   ;
   align-items: center;
}

.redes {
   width: 50px;
   height: 50px;
}

#facebook {
   width: 100%;
   grid-area: logo1;
}

#instagram {
   width: 100%;
   grid-area: logo2;
}

#contactanos {
   grid-area: contacto;
   font-family: Pacifico;
   padding: 5px;
}

@media (min-width: 1024px) {
   h1 {
      font-family: Italianno;
      color: #95D9C3;
      grid-area: titulo;
      font-size: 80px;
      width: 100%;
      text-align: left;
      padding-left: 50px;
   }

   .secciones {
      display: inline-block;
      justify-content: center;
      padding: 35px;
      font-size: large;
   }

   main h2 {
      font-size: 100px;
      padding: 40px;
   }

   #navegacionInferior {
      background-color: #5C6F68;
      display: grid;
      grid-template-columns: 1fr 10fr 2fr;
      grid-template-areas: 
      "facebook instagram contacto"
      ;
      justify-content: start;
      align-items: center;

   }

   #facebook {
      grid-area: faccebook;
   }

   #instagram {
      grid-area: instagram;
   }

   #linkContacto {
      grid-area: contacto;
   }

   #contactanos {
      display: flex;
      justify-content: right;
      padding-right: 20px;
   }
}

